# Node (frontend)
frontend/node_modules/

# Python
__pycache__/
*.py[cod]
*.so
.Python
.env
.venv
venv/
poetry.lock
# env files
.env.*
backend/.env
backend/.env.*
# IDE
.vscode/
.idea/

# Docker
*.pid

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/