DATABASE_URL=postgresql://rafuser:rafpass@localhost:5432/rafcoffee
REDIS_URL=redis://localhost:6379/0
ADMIN_TOKEN=your-secret-token
SMTP_HOST=smtp.mail.ru
SMTP_PORT=587
SMTP_USER=rafchikvacansy@mail.ru
SMTP_PASSWORD=WOYXtYYCuf9AjeJsrhTr
SMTP_FROM=noreply@example.com
VACANCY_EMAIL_TO=Burmatovaula@icloud.com
SMTP_USE_TLS=true
